{% extends 'base.html.twig' %}

{% block body %}
<div class="parent-center">
  <div class="wrapper-realisation">
    <a href="/horlogerie" class="image-horlogerie"><img src="{{asset('build/images/horlogerie.png')}}" alt="Image montre"></a>
  </div>
</div>
{% endblock %}